@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 150%;
}

body {
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.article-container {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 24px;
    box-shadow: 8px 8px black;
    position: relative;
}

#text1,
#author {
    /* font-size: 14px; */
    font-size: clamp(12px, 3.5vw, 14px);
    font-weight: 800;
    color: #111111;
}

#text1 {
    background-color: #F4D04E;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#published-date {
    /* font-size: 14px; */
    font-size: clamp(12px, 3.5vw, 14px);
    font-weight: 500;
    color: #111111;
    margin-bottom: 12px;
}

h1 {
    color: #111111;
    /* font-size: 24px; */
    font-size: clamp(18px, 4vw, 24px);
    font-weight: 800;
}

.para {
    color: #6B6B6B;
    /* font-size: 16px; */
    font-size: clamp(14px, 3.8vw, 16px);
    font-weight: 500;
}

.author-profile {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.author-profile img {
    width: 30px;
    margin-right: 12px;
}

.article-img {
    width: 100%;
}

.article-container:hover .effect {
    border: 3px dotted purple;
}

.article-container:hover::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 3px solid purple;
    pointer-events: none;
    z-index: 1;
}